.el-button {
    padding: 0;
    border: none;

    &:hover {}
}

.el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-scrollbar__view{
    min-height: 100%;
}

.el-scrollbar__bar{
    z-index: 9999;
}


.el-scrollbar{
    .el-select-dropdown__wrap{
        margin-bottom: 0 !important;
    }
}
